.home-layout {
  height: 100vh;
  width: 100vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 20px;
    background: #181818;

    .header-title {
      display: flex;
      .logo {
        width: auto;
        height: 55px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 15px;
      }
  
      h1 {
        color: #ffffff;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }

    ul {
      color: #ffffff;
      padding: 0px;
      list-style-type: none;
      display: inline-flex;

      li {
        padding: 0px 15px 0px 15px;

        a {
          color: #ffffff;
          font-size: 1.2em;
          font-weight: 300;
          letter-spacing: 1px;
          text-decoration: none;
        }
      }
    }
  }

  .section {
    height: 100vh;
    padding: 0px 50px;
    background-color: #ffffff;

    .title {
      font-size: 3em;
      font-weight: 300;
      letter-spacing: 2px;
      text-align: center;
    }
  }

  .section:first-child {
    height: calc(100vh - 64px);
  }

  .section:last-child {
    height: calc(100vh - 61px);
  }

  .footer {
    display: flex;
    padding: 20px;
    justify-content: space-between;

    p {
      margin: 0px;
    }

    ul {
      list-style-type: none;
      display: inline-flex;
      margin: 0px;

      li {
        padding: 0px 5px 0px 5px;

        a {
          color: #181818;
          font-size: 1em;
          font-weight: 300;
          text-decoration: none;
        }
      }
    }

  }
}

